
<!-- CK Editor script - replaces textarea with wyswig -->
<script>
    ClassicEditor
            .create( document.querySelector( '#instructions' ) )
            .then( editor => {
                    console.log( editor );
            } )
            .catch( error => {
                    console.error( error );
            } );
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="/js/main.js"></script> 

<div class="container">
    <div class="fixed-bottom text-center">
        <span>Created by <a href="https://www.whitmorgan.com/">Whit Morgan</a></span>
    </div>
</div>
</body>
</html>