<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gran</title>   
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/classic/ckeditor.js"></script>
  </head>
  <body>
    <!--------Navigation-------->
    <section id="navbar">
      <nav class="navbar navbar-expand-lg bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="/assets/img/gran-logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
              Gran
            </a>
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse navbar-dark" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="/recipes/publicRecipes">Public Recipes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/recipes">My Recipes</a>
                      </li>
                    </ul>
                      <div class="d-grid gap-2 d-md-block">
                        <a href="/logout"><button class="btn btn-outline-light" type="button">Logout</button></a>
                      </div>
                  </div>
                </div>
              </nav>
      </header>
  </section>
  </body>
</html>

