

    <!-- Header -->
<%- include('partials/publicHeader') -%>


    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <div id="loginContainer" class="container-sm">
        <form action="/signup" method="POST">
            <div class="mb-3">
                <label class="form-label">User Name</label>
                <input type="text" class="form-control" name="userName">
            </div>      
            <div class="mb-3">  
                <label for="exampleInputEmail1" class="form-label">Email address</label>               
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="confirmPassword">
              </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

    <!-- <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit">
    </form> -->

    <%- include('partials/footer') -%>